<!-- Begin Body -->
<div class="container">
<div class="no-gutter row">
<!-- left side column -->
<div class="col-md-2">
    <div class="panel panel-default" id="sidebar">
        <div class="panel-heading" style="background-color:#888;color:#fff;">Offerings</div>
        <div class="panel-body">
            <ul class="nav nav-stacked">
                <li><a href="#">Events</a></li>
                <li><a href="#">Donations</a></li>
                <li><a href="#">Solicitations</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Philosophy</a></li>
                <li><a href="#">About</a></li>
            </ul>

            <hr>

            <div class="col col-span-12">
                <i class="icon-2x icon-facebook"></i>&nbsp;
                <i class="icon-2x icon-twitter"></i>&nbsp;
                <i class="icon-2x icon-linkedin"></i>&nbsp;
                <i class="icon-2x icon-pinterest"></i>
            </div>

        </div>
        <!--/panel body-->
    </div>
    <!--/panel-->
</div>
<!--/end left column-->

<!--mid column-->
<div class="col-md-3">
    <div class="panel" id="midCol">
        <div class="panel-heading" style="background-color:#555;color:#eee;">Filter Results</div>
        <div class="panel-body">
            <div class="well">
                <h3>Find Your Match</h3>

                <p>Use the options below or the map to the right to find the opportunity that's perfect for your
                    needs.</p>
            </div>

            <hr>

            <div class="well">
                <form class="form">
                    <fieldset>
                        <legend>Legend</legend>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>

                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputPassword"
                                       placeholder="Password">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Checkbox
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Textarea</label>

                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textArea"></textarea>
                                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Radios</label>

                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1"
                                               value="option1" checked="">
                                        Option one is this
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2"
                                               value="option2">
                                        Option two can be something else
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">Selects</label>

                            <div class="col-lg-10">
                                <select class="form-control" id="select">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <br>
                                <select multiple="" class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <hr>

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/80/F0F0F0">
                </a>

                <div class="media-body">
                    <h5 class="media-heading"><a href="/tagged/modal" target="ext" class="pull-right"><i
                            class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Modal</strong></a>
                    </h5>
                    <small>Examples using the Bootstrap modal.</small>
                    <br>
                    <span class="badge">87</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/80/F0F0F0">
                </a>

                <div class="media-body">
                    <h5 class="media-heading"><a href="/tagged/slider" target="ext" class="pull-right"><i
                            class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Carousel</strong></a>
                    </h5>
                    <small>How to use the Bootstrap slider.</small>
                    <br>
                    <span class="badge">322</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/80/F0F0F0">
                </a>

                <div class="media-body">
                    <h5 class="media-heading"><a href="/tagged/typography" target="ext" class="pull-right"><i
                            class="glyphicon glyphicon-share"></i></a> <a
                            href="#"><strong>Typography</strong></a></h5>
                    <small>See the various textual elements and options.</small>
                    <br>
                    <span class="badge">44</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/80/F0F0F0">
                </a>

                <div class="media-body">
                    <h5 class="media-heading"><a href="/tagged/media" target="ext" class="pull-right"><i
                            class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>@Media</strong></a>
                    </h5>
                    <small>Use @media queries to get the layout you want.</small>
                    <br>
                    <span class="badge">119</span>
                </div>
            </div>

        </div>
    </div>
    <!--/panel-->
</div>
<!--/end mid column-->

<!-- right content column-->
<div class="col-md-7" id="content">
    <div class="panel">
        <div class="panel-heading" style="background-color:#111;color:#fff;">Top Stories</div>
        <div id="search-results" class="panel-body">
        </div>
        <!--/panel-body-->
    </div>
    <!--/panel-->
</div>
<!--/end right column-->
</div>
</div>

<script type='text/javascript'>
    //    $(document).ready(function() {
    //        $('#sidebar').affix({
    //            offset: {
    //                top: 230,
    //                bottom: 100
    //            }
    //        });
    //        $('#midCol').affix({
    //            offset: {
    //                top: 230,
    //                bottom: 100
    //            }
    //        });
    //    });
</script>
