<div class="well">
    <div class="panel-title text-primary">
        <% if(title !== '') { %>
        <h2><%=title%></h2>
        <% } else { %>
        <h2 data-localize-key="module.title" data-localize-target="text"></h2>
        <% } %>
    </div>
    <div class="panel-title text-primary">
        <% if(description !== '') { %>
        <h4><%=description%></h4>
        <% } else { %>
        <h5 data-localize-key="module.description" data-localize-target="text"></h5>
        <% } %>
    </div>
    <% if(module && module.text) { %>
    <% if(module.text) {%>
    <p><%= module.text %></p>
    <% } %>
    <% } %>
</div>