<form class="form">
    <fieldset>
        <div class="form-group" data-localize-key="form.elements.search" data-localize-target="form-group">
            <label for="search_text" class="control-label"></label>
            <input type="text" class="form-control" id="search_text" placeholder=""/>
        </div>
        <div class="form-group" data-localize-key="form.elements.type" data-localize-target="form-group">
            <label for="search_type" class="control-label"></label>
            <select class="form-control" id="search_type">
                <% _.each(module.view_data.search_types, function(search_type) { %>
                <option data-localize-key="<%= search_type.key %>" data-localize-target="text"
                        value="<%= search_type.value %>"></option>
                <% }); %>
            </select>
        </div>
        <div class="col-md-12">
            <button id="btn_submit_search" type="submit" class="btn btn-primary btn-sm btn-block"
                    data-localize-key="form.buttons.search" data-localize-target="text"></button>
        </div>
    </fieldset>
</form>