<style>
    #Entity-List {
        margin: 0;
        padding: 0;
    }
</style>
<div id="Entity-List" class="well well-sm col-lg-8">
    <!--<div class="panel-heading" data-localize-key="list.panel.title" data-localize-target="text"></div>-->
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th><span data-localize-key="list.columnheaders.title" data-localize-target="text"></span></th>
                <th><span data-localize-key="list.columnheaders.location" data-localize-target="text"></span></th>
            </tr>
            </thead>
            <tbody>
            <% if(!collection) { %>
            <tr>
                <td colspan="2"><span data-localize-key="list.messages.noresults" data-localize-target="text"
                                      class="text-warning"></span></td>
                <td></td>
            </tr>
            <% } else { %>

            <% _.each(collection, function(event) { %>
            <tr data-attribute="address" data-id="<%= event.id %>">
                <td><span class="btn btn-sm btn-link" data-attribute="title" data-id="<%= event.id %>"><%= event.title %></span>
                </td>
                <td><span></span></td>
            </tr>
            <% }); %>
            <% } %>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <button id="Back-Button" name="cancel" class="btn navbar-btn" data-localize-key="buttons.back"
                data-localize-target="text"></button>
        <button id="Add-Button" name="save" class="btn btn-primary navbar-btn" data-localize-key="buttons.add"
                data-localize-target="text"></button>
    </div>
</div>
<div class="col-lg-4">
    <div id="PreviewMap" style="height: 300px"></div>
</div>