<div class="panel-primary">
    <form id="Event-Form" class="form-horizontal">
        <fieldset id="Event-Basics">
            <legend></legend>
            <div class="form-group">
                <label for="title" class="col-lg-2 control-label"></label>

                <div class="col-lg-8">
                    <input name="title" id="title" class="form-control" placeholder="" data-bind-event="event_title"
                           value="">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-lg-2 control-label"></label>

                <div class="col-lg-8">
                    <textarea name="description" id="description" class="form-control"
                              data-bind-event="event_description" placeholder=""></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-lg-2 control-label"></label>

                <div class="btn-group btn-group-justified col-lg-8">
                    <a id="Set-Status-private"
                       class="btn btn-info <% if (event.get('status') == 'private') { print('disabled')} %>">Private</a>
                    <a id="Set-Status-unlisted"
                       class="btn btn-warning <% if (event.get('status') == 'unlisted') {print('disabled')} %>">Unlisted</a>
                    <a id="Set-Status-public"
                       class="btn btn-success <% if (event.get('status') == 'public') { print('disabled')} %>">Public</a>
                    <input name="status" id="status" type="hidden" data-bind-event="event_status" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-lg-2 control-label"></label>

                <div class="btn-group btn-group-justified col-lg-8">
                    <select name="type" id="type" data-bind-event="event_type" class="form-control">
                        <% _.each(eventTypes, function(eventType) { %>
                        <option value="<%= eventType.value %>"><%= eventType.name %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="tags" class="col-lg-2 control-label"></label>

                <div class="col-lg-8">
                    <input name="tags" id="tags" class="form-control" placeholder="" data-bind-event="event_tags"
                           value="">
                </div>
            </div>
        </fieldset>
        <fieldset id="Event-Location">
            <legend></legend>
            <div class="form-group">
                <label for="address1" class="col-lg-2 control-label"></label>

                <div class="col-lg-8">
                    <input name="address1" id="address1" class="form-control" placeholder=""
                           data-bind-event="location_address1" value="">
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--<label for="address2" class="col-lg-2 control-label">Address 2</label>-->
            <!--<div class="col-lg-8">-->
            <!--<input name="address2" id="address2" class="form-control" placeholder="Suite 456" value="">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label for="city" class="col-lg-2 control-label"></label>

                <div class="col-lg-8">
                    <input name="city" id="city" class="form-control" placeholder="" data-bind-event="location_city"
                           value="">
                </div>
            </div>
            <div class="form-group">
                <label for="state" class="col-lg-2 control-label"></label>

                <div class="col-lg-8">
                    <input name="state" id="state" class="form-control" placeholder="" data-bind-event="location_state"
                           value="">
                </div>
            </div>
            <div class="form-group">
                <label for="postal_code" class="col-lg-2 control-label"></label>

                <div class="col-lg-8">
                    <input name="postal_code" id="postal_code" class="form-control" placeholder=""
                           data-bind-event="location_postal_code">
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="col-lg-2 control-label"></label>

                <div class="col-lg-8">
                    <input name="country" id="country" class="form-control" placeholder="" value=""
                           data-bind-event="location_country">
                </div>
            </div>
            <div class="form-group">
                <label for="latitude" class="col-lg-2 control-label"></label>

                <div class="col-lg-8">
                    <input name="latitude" id="latitude" class="form-control disabled" disabled placeholder=""
                           data-bind-event="location_latitude" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="longitude" class="col-lg-2 control-label"></label>

                <div class="col-lg-8">
                    <input name="longitude" id="longitude" class="form-control disabled" disabled placeholder=""
                           data-bind-event="location_longitude" value="">
                </div>
            </div>
        </fieldset>
    </form>
    <div class="panel-footer">
        <div class="navbar">
            <button id="Cancel-Button" name="cancel" class="btn navbar-btn"></button>
            <button id="Save-Button" name="save" class="btn btn-primary navbar-btn"></button>
            <button id="Delete-Button" name="delete" class="btn btn-danger navbar-btn"></button>
        </div>
    </div>
</div>
