#page-container {
    margin-top: 70px;
}

.text-site-title {
    color: #ffffff;
    margin: 0;
    padding-left: 10px;
    padding-top: 15px;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #eee;
}

@media (max-width: 767px) {
    height:

60px

;
    background-color: #eee

;
}

#Profile-Display-SmallPanel #Avatar {
    height: 80px;
    width: 80px;
}
