<div id="page-header"><span class="Title">Solicitations</span><span class="Description">Use the filters below to browse solicitations in your area.</span></div>
<div id="search-filter" class="contentPanel"></div>

<div id="entity-list" class="contentPanel">
    <table>
        <thead>
            <tr><td>Solicitation</td><td>Location</td></tr>
        </thead>
        <tbody>
        <% if(solicitations == "loading") { %>
        <tr>
            <td><img src="/images/loading.bar.gif"/></td>
        </tr>
        <% } else { %>
            <% if(solicitations == null) { %>
                <tr>
                    <td>No results</td>
                </tr>
            <% } else {%>
                <% _.each(solicitations, function(solicitation) { %>
                    <tr>
                        <td><a href="#/solicitation/<%= solicitation.get('_id') %>"><%= solicitation.get('title') %></a></td>
                        <td><%= solicitation.get('address.geometry.location') %></td>
                    </tr>
                <% }); %>
            <% } %>
        <% } %>
        </tbody>
    </table>
</div>