<style>
    .field-label-display {
        display: inline-block;
        font-size: medium;
        font-weight: bold;
        margin-right: 10px;
        padding: 5px;
    }
    .field-value-display {
        display: inline-block;
        font-size: medium;
        margin-right: 10px;
        padding: 5px;
    }
</style>
<div id="profile-display-full">
    <span class="field-label-display">Name:</span><span class="field-value-display"><%= profile.displayName%></span>
    <span class="field-label-display">Email:</span><span class="field-value-display"><%= profile.email%></span>
</div>