<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title"><%= event.title %></h3></div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>Status
                <td>
                <td><%= event.status %>
                <td>
            </tr>
            <tr>
                <td>Type
                <td>
                <td><%= event.type %>
                <td>
            </tr>
            <tr>
                <td>Tags
                <td>
                <td><%= event.tags %>
                <td>
            </tr>
            <tr>
                <td>Author
                <td>
                <td><%= event.author %>
                <td>
            </tr>
            <tr>
                <td>Starts
                <td>
                <td><%= _.template.formatDateTime(event.beginAt) %>
                <td>
            </tr>
            <tr>
                <td>Ends
                <td>
                <td><%= _.template.formatDateTime(event.endAt) %>
                <td>
            </tr>
            <tr>
                <td>Description
                <td>
                <td><%= event.description %>
                <td>
            </tr>
        </table>
    </div>
    <% if(_.template.isPopulatedArray(event.locations_physical)) { %>
    <div class="panel-heading">Location</div>
    <div class="panel-body">
        <div class="col-lg-6">
            <address><%= event.address.formatted_address %></address>
        </div>
        <div id="small-map" class="well well-lg col-lg-push-0" style="height: 400px;"></div>
    </div>
    <% } %>
    <% if(_.template.isPopulatedArray(event.contacts)) { %>
    <div class="panel-heading">Contact</div>
    <div class="panel-body">
        <div class="col-lg-6"></div>
        <div></div>
    </div>
    <% } %>
    <div class="panel-heading">History</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>Date Created
                <td>
                <td><%= _.template.formatDateTime( event.audit.createdAt )%>
                <td>
            </tr>
            <tr>
                <td>Last Updated
                <td>
                <td><%= _.template.formatDateTime( event.audit.lastModifiedAt )%>
                <td>
            </tr>
        </table>
        <button type="button" class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#Change-History">
            Show history
        </button>
        <div id="Change-History" class="panel panel-warning collapse">
            <div class="panel-heading">Change history</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Time Stamp</td>
                        <td>Activity</td>
                        <td>Detail</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(event.audit.detail, function(audit) { %>
                    <tr>
                        <td><%= _.template.formatDateTime( audit.timeStamp ) %></td>
                        <td><%= audit.action %></td>
                        <td></td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button id="Cancel-Button" class="btn navbar-btn">cancel</button>
        <button id="Edit-Button" class="btn btn-primary navbar-btn">edit</button>
        <button id="Delete-Button" class="btn btn-danger navbar-btn">delete</button>
    </div>
</div>