<div class="row">
    <div id="zone-0" class="col-md-12 zone"></div>
</div>
<div class="row">
    <!--<div class="col-md-0"></div>-->
    <div id="zone-1" class="col-md-12 zone"></div>
    <!--<div class="col-md-0"></div>-->
</div>
<div class="row">
    <!--<div class="col-md-0"></div>-->
    <div id="zone-2" class="col-md-4 zone"></div>
    <div id="zone-3" class="col-md-4 zone"></div>
    <div id="zone-4" class="col-md-4 zone"></div>
    <!--<div class="col-md-0"></div>-->
</div>
<div class="row">
    <!--<div class="col-md-0"></div>-->
    <div id="zone-5" class="col-md-12 zone"></div>
    <!--<div class="col-md-0"></div>-->
</div>
<div class="row footer">
    <div id="zone-6" class="col-md-12 col-lg-12 zone"></div>
</div>
