<div id="page-buttonbar">
    <div id="donations-button-back" class="backButton">back</div>
    <div id="donations-button-create" class="addButton">create new</div>
</div>

<div id="entity-list" class="contentPanel">
    <script>
        function edit(id) {
            window.location = '#/donations/edit/' + id;
        }
    </script>
    <table>
        <thead>
        <tr>
            <td>Donation</td>
            <td>Location</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <% if(donations == "loading") { %>
        <tr>
            <td colspan="3"><img src="/img/loading.bar.gif"/></td>
        </tr>
        <% } else { %>
        <% if(donations == null) { %>
        <tr>
            <td colspan="3">No results</td>
        </tr>
        <% } else {%>
        <% _.each(donations, function(donation) { %>
        <tr>
            <td><a href="#/donation/<%= donation.get('_id') %>"><%= donation.get('title') %></a></td>
            <td><%= donation.get('address.geometry.location') %></td>
            <td>add control buttons here.</td>
        </tr>
        <% }); %>
        <% } %>
        <% } %>
        </tbody>
    </table>
</div>