<div id="home-titlebar"></div>
<!-- Begin Body -->

<div class="container">

    <div class="no-gutter row" id="home-masthead"></div>

    <div class="no-gutter row">

        <!-- left side column -->
        <div id="column-one" class="col-md-2">

        </div>
        <!--/end left column-->

        <!--mid column-->
        <div id="column-two" class="col-md-10">

        </div>
        <!--/end mid column-->

        <!-- right content column-->
        <!--        <div id="home-column-three" class="col-md-3">

                </div>-->
        <!--/end right column-->
    </div>
</div>

<script type='text/javascript'>
    /*        $(document).ready(function() {
     $('#sidebar').affix({
     offset: {
     top: 230,
     bottom: 100
     }
     });
     $('#midCol').affix({
     offset: {
     top: 230,
     bottom: 100
     }
     });
     });*/
</script>
