<div class="row">
    <div id="zone-titlebar-1" class="col-md-12 zone"></div>
</div>
<div class="container">
    <div class="row"> <!--Header bar -->
        <div id="zone-header-1" class="col-md-6 zone"></div>
        <div id="zone-header-2" class="col-md-6 zone"></div>
    </div>
    <div class="row"> <!--Attract Panel -->
        <div id="zone-header-3" class="col-md-12 zone"></div>
    </div>
    <div class="row">
        <!--<div class="col-md-0"></div>-->
        <div id="zone-content-1" class="col-md-12 zone"></div>
        <!--<div class="col-md-0"></div>-->
    </div>
    <div class="row">
        <!--<div class="col-md-0"></div>-->
        <div id="zone-content-2" class="col-md-3 zone"></div>
        <div id="zone-content-3" class="col-md-9 zone"></div>
        <!--<div class="col-md-0"></div>-->
    </div>
    <div class="row">
        <!--<div class="col-md-0"></div>-->
        <div id="zone-content-4" class="col-md-12 zone"></div>
        <!--<div class="col-md-0"></div>-->
    </div>
</div>
<div class="row footer">
    <div class="container">
        <div id="zone-footer-1" class="col-md-3 zone"></div>
        <div id="zone-footer-2" class="col-md-3 zone"></div>
        <div id="zone-footer-3" class="col-md-3 zone"></div>
        <div id="zone-footer-4" class="col-md-3 zone"></div>

        <div id="zone-footer-5" class="col-md-12 zone"></div>
    </div>
</div>