<div class="well text-left text-top">
    <div class="panel panel-primary">
        <div class="panel-heading"><%= module.model.title %></div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td>Status</td>
                    <td><%= module.model.status %></td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td><% switch (module.model.type) { case "health" : print("HEALTHY!!!");break; } %></td>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td><%= module.model.tags %></td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td><%= module.model.author %>
                    </td>
                </tr>
                <tr>
                    <td>Starts</td>
                    <td><%= _.template.formatDateTime(module.model.beginAt) %></td>
                </tr>
                <tr>
                    <td>Ends</td>
                    <td><%= _.template.formatDateTime(module.model.endAt) %></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><%= module.model.description %></td>
                </tr>
            </table>
        </div>
    </div>
    <% if(_.template.isPopulatedArray(module.model.locations_physical)) { %>
    <div class="panel panel-primary">
        <div class="panel-heading">Locations <span class="badge"><%= module.model.locations_physical.length%></span>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Address</th>
                    <th>Map</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(module.model.locations_physical, function(location) { %>
                <tr>
                    <td><%= location.geocoding_result.formatted_address %></td>
                    <td><img border="0"
                             src="//maps.googleapis.com/maps/api/staticmap?center=<%= location.latitude %>,<%= location.longitude %>&zoom=13&size=200x200&maptype=roadmap&sensor=false&markers=size:mid%7Ccolor:0xFF0000%7Clabel:FUN%7C<%= location.latitude %>,<%= location.longitude %>">

                        <div><em class="text-center text-info text-muted"><%= location.latitude %>,<%=
                            location.longitude %></em></div>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
            <!--<div id="small-map" class="well well-lg col-lg-push-0" style="height: 400px;"></div>-->
        </div>
    </div>
    <% } %>
    <% if(_.template.isPopulatedArray(module.model.contacts)) { %>
    <div class="panel-heading">Contact</div>
    <div class="panel-body">
        <div class="col-lg-6"></div>
        <div></div>
    </div>
    <% } %>
    <div class="panel-heading">History</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>Date Created
                </td>
                <td><%= _.template.formatDateTime( module.model.audit.createdAt )%>
                </td>
            </tr>
            <tr>
                <td>Last Updated
                </td>
                <td><%= _.template.formatDateTime( module.model.audit.lastModifiedAt )%>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#Change-History">
            Show history
        </button>
        <div id="Change-History" class="panel panel-warning collapse">
            <div class="panel-heading">Change history</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Time Stamp</td>
                        <td>Activity</td>
                        <td>Detail</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(module.model.audit.detail, function(audit) { %>
                    <tr>
                        <td><%= _.template.formatDateTime( audit.timeStamp ) %></td>
                        <td><%= audit.action %></td>
                        <td></td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>