<div id="titlebar"></div>

<div id="left-gutter" class="col-md-1"></div>

<div class="col-md-10">
    <div class="col-md-12 col-lg-12" id="masthead"></div>
    <div class="no-gutter row">
        <!-- left side column -->
        <div id="column-one" class="col-md-3"></div>
        <!--mid column-->
        <div id="column-two" class="col-md-6"></div>
        <!-- right content column-->
        <div id="column-three" class="col-md-3"></div>
    </div>
</div>

<div id="right-gutter" class="col-md-1"></div>

<div id="debug"></div>

<script type='text/javascript'>
    /*        $(document).ready(function() {
     $('#home-column-left').affix({
     offset: {
     top: 230,
     bottom: 100
     }
     });
     $('#home-column-middle').affix({
     offset: {
     top: 230,
     bottom: 100
     }
     });
     });*/
</script>
