<div id="titlebar"></div>

<div class="container">

    <div class="col-md-12 col-lg-12" id="masthead"></div>

    <div class="no-gutter row">
        <!-- left side column -->
        <div id="column-one" class="col-md-2">

        </div>
        <!--/end left column-->

        <!--mid column-->
        <div id="column-two" class="col-md-7">

        </div>
        <!--/end mid column-->

        <!-- right content column-->
        <div id="column-three" class="col-md-3">

        </div>
        <!--/end right column-->
    </div>
</div>
<div id="debug"></div>

<script type='text/javascript'>
    /*        $(document).ready(function() {
     $('#home-column-left').affix({
     offset: {
     top: 230,
     bottom: 100
     }
     });
     $('#home-column-middle').affix({
     offset: {
     top: 230,
     bottom: 100
     }
     });
     });*/
</script>
